<h1><%= @user.name %>'s GitHub</h1>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:user, "GitHub User:") %>
  <%= text_field_tag(:user) %>
  <%= submit_tag("Search") %>
<% end %>

<br />
<br />

<%= link_to (image_tag @user.avatar_url, size: "250x250"), @user.html_url, :target => "_blank" %>
<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Location:</strong> <%= @user.location %></p>
<p><strong>Created At:</strong> <%= @user.created_at %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Company:</strong> <%= @user.company %></p>

</p>

<p><strong>Repos:</strong>
  <ul>
    <% @repo.each do |repo| %>
    <li> <%= link_to repo[:name], repo[:html_url], :target => "_blank" %> </li>
    <% end %>
  </ul>

</p>
